@{
    ViewBag.Title = "Home Page";
}
<style>
   body {
        background-image: url('/Image/bg1.jpg');
    }
</style>
<body>
    <div class="jumbotron">
        <h1>Mimi's Recipe</h1>
        <div>
            <h2>Welcome!</h2>
            <p>I am so glad you are here.  This is MIMI'S KITCHEN, our family food recipes blog.</p>
            <h2>About me</h2>
            <p>
                Hello I am Menaka Hariharasuthan. I am originally from Tirunelveli, Papanasam (TamilNadu, Southern part of India).
                When I was a young kid I was always interested in cooking.  Also I used to help my mom to make masala using olden model
                mortar and pestal which need lot of handwork.  My mom always uses fresh ground incredients for the cooking.  I started learning more
                and more recipes and soon enough whenever my relatives visited our home for festivals I started cooking for them.
                I finished my studies in Tamilnadu, India.  I did my Bachelor's in Mathematics and did Masters in Computer Applications.
                Now I am in Louisville, Kentucky, USA with my husband and two boys.
            </p>
        </div><!--/.secondary-->


        <p class="lead">
            Mimi's Recipe is a list of recipes which I make everyday at home.  I have used ASP.NET framework to create this site.
            I have used the ASP.net core web app, C#, HTML, CSS and JavaScript.
        </p>
        <p><a href="https://github.com/Menaka-GH/Mimis-kitchen" class="btn btn-primary btn-lg">Learn more about the recipes </a></p>
    </div>
</body>
