@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mimi's Recipe</h1>
    <p class="lead">Mimi's Recipe is a list of recipes which I make everyday at home.  I have used ASP.NET framework to create this site.
    I have used the ASP.net core web app, C#, HTML, CSS and JavaScript.</p>
    <p><a href="https://github.com/Menaka-GH/Mimis-kitchen" class="btn btn-primary btn-lg">Learn more about the recipes </a></p>
</div>

                                                                                                                                                                                                                                                 